<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Boot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- Navigation -->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Nhan To</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#skills">Technologies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
    <br>
        <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              
              <p class="intro-text text-center">Web developer specializing in
                <br>Dynamic, Responsive, and Scalable design.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <br>

    <div class="row">
      <div class="col-sm text-center">Ruby on Rails
      <img class="d-flex ml-3" src="..." alt="Generic placeholder image">
      </div>
      <div class="col-sm text-center">LAMP
      <img class="d-flex ml-3" src="..." alt="Generic placeholder image">
      </div>
      <div class="col-sm text-center">MEAN
      <img class="d-flex ml-3" src="..." alt="Generic placeholder image">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm text-center">Node
      <img class="d-flex ml-3" src="..." alt="Generic placeholder image">
      </div>
      <div class="col-sm text-center">WordPress
      <img class="d-flex ml-3" src="..." alt="Generic placeholder image">
      </div>
      <div class="col-sm text-center">Github
      <img class="d-flex ml-3" src="..." alt="Generic placeholder image">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm text-center">HTML
      <img class="d-flex ml-3" src="..." alt="Generic placeholder image">
      </div>
      <div class="col-sm text-center">Bootstrap
      <img class="d-flex ml-3" src="..." alt="Generic placeholder image">
      </div>
      <div class="col-sm text-center">Search Engine Optimization
      <img class="d-flex ml-3" src="..." alt="Generic placeholder image">
      </div>
    </div>
    <br>
        <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; nhanto.info 2017</p>
      </div>
    </footer>


    
  </body>
</html>
